@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

html{
  height: 100%;
}

body{
  margin: 0;
  background: linear-gradient( #0F498C, #512222)

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 200px;
}

/* Modal Content/Box */
.modal-content {
  background: linear-gradient( #0F498C, #512222);
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  height: 60%;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
}

h1{
  color: white;
}

nav{
  background: linear-gradient( #512222,#0F498C)
}

#brandnev{
  font-size: 1.5em;
}

nav img{
  width: 120px;
}

.tech{
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #512222;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  padding: 0px;
}

.kave:hover{
  filter: drop-shadow(0px 0px 5px #521111);
}

.img-fluid{
  height: 260px;
  width: 433px;
  left: 0px;
  right: 0px;
  padding: 0px;
}

.kave h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  color: #FFFFFF;
  height: 50px;
  justify-content: center;
  
}


#Modalgomb{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  background: #7A5757;
  border-radius: 4px;
  stroke: #7A5757;
  color: #FFFFFF;
  border: none;
  width: 10rem;
  margin-left: auto;
  margin-right: auto ;
}

#modalbg{
  background-color: #F1DCBD;
}

#input{
  display: flex;
  padding: 5px;
  border-radius: 4px 4px 4px 4px;
  border-color: #512222;
  margin-bottom: 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Vízszintes középre igazítás */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kave img {
  display: block;
  margin: 0 auto; /* Képek középre igazítása */
  width: 500px; /* Például itt 200 pixel szélesre állítjuk a képeket */
  height: 300px; /* Ugyanezen magasra */
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Set a style for all buttons */
#button {
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background: linear-gradient( #0F498C, #512222);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

#cubes {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}