@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
.navok{
  background: linear-gradient( #512222,#0F498C);
}

html{
  height: 100%;
}

body{
  font-size: 18px;
  margin: 0;
  background: linear-gradient( #0F498C, #512222)
}

.PC{
  display: block;
}

.Phone{
  display: none;
}

#logo {
  width: 125px;  /* Változtasd meg a szélességet a kívánt méretre */
  height: 50px;  /* Változtasd meg a magasságot a kívánt méretre */
}

.navbar-nav {
  display: flex;
  align-items: center;  /* A tételek középre igazítása függőlegesen */
}

h1{
  color: white;
}

#brandnev{
  font-size: 1.5em;
  color: white;
}

.tech{
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #512222;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  padding: 0px;
}

.kave:hover{
  filter: drop-shadow(0px 0px 5px #521111);
}

.img-fluid{
  height: 260px;
  width: 433px;
  left: 0px;
  right: 0px;
  padding: 0px;
}

.kave h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  color: #FFFFFF;
  height: 50px;
  justify-content: center;
  
}

#modalbg{
  background: linear-gradient(#0A3CBD#1772DC);
}

#input{
  display: flex;
  padding: 5px;
  border-radius: 4px 4px 4px 4px;
  border-color: #512222;
  margin-bottom: 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Vízszintes középre igazítás */
}

.kave img {
  display: block;
  margin: 0 auto; /* Képek középre igazítása */
  width: 500px; /* Például itt 200 pixel szélesre állítjuk a képeket */
  height: 300px; /* Ugyanezen magasra */
}

/* Set a style for all buttons */
#button {
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Style the horizontal ruler */
hr {
  margin-bottom: 25px;
}

#cubes {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  text-align:right;
  
}

.centered-and-rounded {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

#logo1{
  position: relative;
  width: 150px;
}

.bottom{
  display: block;
  margin-left: 0%;
  margin-top: -18%;
  width: 29.5%;
  height: 29.5%;
}

.center-and-left{
  display: block;
  margin-top: -16%;
  margin-left: 80%;
  width: 20%;
  height: 115%;
}

.centered1 {
  position: absolute;
  top: 4%;
  left: 39.5%;
}

div{
  color: #FFFFFF;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background: linear-gradient( #512222,#0F498C 7.5%,#1772DC); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.menu_gomb{
  position: fixed;
  right: 0%;
}

.rounded-rectangle {
  margin-top: 100px;
  margin-left: 36%;
  border: 2px solid rgba(0, 0, 0, 0.5);  /* Téglalap kerete */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;  /* Lekerekített sarkok */
  padding: 20px;  /* Szöveg és keret közötti tér */
  width: 450px;  /* Téglalap szélessége */
  text-align: center;  /* Szöveg középre igazítása */
}

.rounded-rectangle2 {
  margin-top: -415px;
  margin-left: 34.5%;
  border: 2px solid rgba(0, 0, 0, 0.5);  /* Téglalap kerete */
  background-color: rgba(0, 0, 0, 1);
  border-radius: 25px;  /* Lekerekített sarkok */
  padding: 10px;  /* Szöveg és keret közötti tér */
  width: 500px;  /* Téglalap szélessége */
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
  #logo {
    width: 125px;  /* Változtasd meg a szélességet a kívánt méretre */
    height: 50px;  /* Változtasd meg a magasságot a kívánt méretre */
  }
  .Phone{
  display: block;
  }
  .PC{
  display: none;
  }
  .rounded-rectangle {
    font-size: 100%;
    margin-top: 100px;
    margin-left: 17.5%;
    border: 2px solid rgba(0, 0, 0, 0.5);  /* Téglalap kerete */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;  /* Lekerekített sarkok */
    padding: 20px;  /* Szöveg és keret közötti tér */
    width: 350px;  /* Téglalap szélessége */
    text-align: center;  /* Szöveg középre igazítása */
  }
  .bottom{
    display: none;
  }
  .center-and-left{
    display: none;
  }
  .rounded-rectangle2 {
    font-size: 80%;
    margin-top: 6px;
    margin-left: 17.5%;
    border: 2px solid rgba(0, 0, 0, 0.5);  /* Téglalap kerete */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 25px;  /* Lekerekített sarkok */
    padding: 10px;  /* Szöveg és keret közötti tér */
    width: 350px;  /* Téglalap szélessége */
  }
}

.menu_a{
  text-align: left;
}

h2{
  font-size: 95%;
}