html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Optional: hides any scrollbars */
}
 
 
 
    .background::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
 
    }
 
 
 
body {
    background: linear-gradient(#0F498C, #512222);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
 
h1{
color: white;
width: 120px;
}
 
#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
width: 120px;
}