html{
    height: 300%;
}

body{
    margin: 0;
    background: linear-gradient( #0F498C, #512222)

}

#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
}

h1 {
    font-size: 1%;
    color: white;
}